/** HTML5/CSS3, EDGE/CHROME                                  *** CalcNo.css ***

 ******************************************************************************
 * ittve.me          Настроить подвал для показа меню в случае, когда браузер * 
 *                                            не выполняет функцию Calc в CSS *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  04.02.2019
 Copyright © 2019 tve                                Посл.изменение: 04.02.2019
*/

/** 
 Замечание: обратил внимание при отладке, что при написании комментария через
 2 слэша перед директивой CSS блокирует выполнение директивы и выполняется 
 только внутри фигурных скобок!
*/
.Footer
{
   margin-left: auto;
   margin-right: auto; 
}
.LeftFooter
{
   display: none;
   overflow: hidden;    /* закрыли текст вне дива */
}
.RightFooter
{
   float: left; 
   width: 50rem;
}
.navset 
{
   position: relative;
   width: 50rem; 
}

/*
 *************************************************************** CalcNo.css ***
*/	
	

