/** HTML5/CSS3, EDGE/CHROME                                 *** CalcYes.css ***

 ******************************************************************************
 * ittve.me          Настроить подвал для показа меню в случае, когда браузер * 
 *                                         умеет выполнять функцию Calc в CSS *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  04.02.2019
 Copyright © 2019 tve                                Посл.изменение: 04.02.2019
*/

/** 
 Замечание: обратил внимание при отладке, что при написании комментария через
 2 слэша перед директивой CSS блокирует выполнение директивы и выполняется 
 только внутри фигурных скобок!
*/
.Footer
{
}
.LeftFooter
{
   width: calc(50% - 2.68rem);
}
.RightFooter
{
   width: calc(50% - 2.68rem);
   float: right;
}
.navset 
{
   position: absolute;
   width: calc(50% - 2.68rem); 
}

/*
 ************************************************************** CalcYes.css ***
*/	
	

