/** HTML5/CSS3, EDGE/CHROME                                 *** Content.css ***

 ******************************************************************************
 * ittve.me                   Выполнить общее фиксирование элементов разметки * 
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  07.01.2019
 Copyright © 2019 tve                                Посл.изменение: 24.03.2023
*/

/* 
 Неизменные параметры текущего положения div-ов                         
*/
#Gallery
{
   top:0;
   height:100%;
   width:33%;
}
#Life,#News
{
   top:0;
   padding:.6rem;
   bottom:5.9rem;
   z-index:10;
}
#FooterTiny
{
   bottom:1.4rem;
   height:4.4rem;
}
#Info
{
   bottom:0;
   height:1.4rem;
}
#FooterTiny,#Info
{
   width:67%; 
}
/*
 Неизменные стили позиционирования элементов подвала
*/
#LifeMenu,#LeftFooter,#RightFooter
{
   position:absolute; 
   top:0;
   bottom:0;
   background:transparent; 
}
#LifeMenu
{
   left:0;
   width:5rem;
}
#LeftFooter
{
   left:5rem;
   right:24rem;
}
#RightFooter
{
   right:0;
   width:24rem;
}
/* 
 Неизменные стили нижней информационной строки
*/ 
#Info
{
   margin-bottom:0;
   background:transparent; 
}
#InfoLeft
{
   float:left;
   width:50%;
}
#InfoRight
{
   float:right;
   text-align:right;
   width:50%;
}
#InfoLeft,#InfoRight
{
   height:100%;
   font-size:1rem;
   font-weight:bold; 
   padding:0rem .3rem .2rem .3rem;
   color:#A4A4A4;
}
/* 
 Cтили картинок, изображений в галерее                                     
*/
#Gallery
{
   align-items:center;
   background:#e0e3ec url(../../../Images/bgnoise_lg.jpg) repeat top left;
}
.Card, .bCard, .imgCard, .pCard, .taCard
{
   background:transparent;
}
.Card
{
   border:.4rem double gray;
   margin-bottom:.2rem;  
}
.bCard
{
   cursor:pointer;
   margin:0;
   padding:.1rem; 
   border:0;
}
.imgCard
{
   width:100%;
}
#imgCardi
{
   width:100%;
}
#infCard, #insCard
{
   height:0;
   width:0;
   margin:0;
   padding:0; 
   border:0;
}
.pCard, .taCard 
{
   font-size:1rem; 
   text-align:center;
   margin:0;
   padding:.1rem; 
   border:0;
}
.taCard
{
   height:10rem;
   width:100%;
}
.Card:hover 
{
   color:#993300; 
   font-weight:600;
}
/* 
 Кнопка "Жизнь и путешествия"                                              
*/
#btnLifeMenu
{
   width: 95%;
   margin-top:.3rem;
   margin-left:.3rem;
}
#imgLifeMenu
{
   width:100%;
   background:radial-gradient(farthest-side ellipse at top left,#ededed,#fff);
   background:-webkit-gradient(radial,farthest-side ellipse at top left,from(#f47a20),to(#faa51a));
   background:-moz-radial-gradient(farthest-side ellipse at top left,#f47a20,#faa51a);
   background:-ms-radial-gradient(farthest-side ellipse at top left,#f47a20,#faa51a);
   background:-o-radial-gradient(farthest-side ellipse at top left,#f47a20,#faa51a);
   background-image:-o-radial-gradient(farthest-side ellipse at top left,#f47a20,#faa51a);
   border-radius:.2rem;
}
#imgLifeMenu:hover
{
   background:radial-gradient(farthest-side ellipse at top left,#fff,#dcdcdc);
}
#imgLifeMenu:active 
{
   background:radial-gradient(farthest-side ellipse at top left,#fff, #ededed);
}
#btnLifeMenu:hover::after 
{
   content:'Жизнь и путешествия!'; 
   position:absolute;left:5rem;bottom:.3rem;z-index:11;
   background:white; 
   color:#ab4a16;  /*Приятный коричневый цвет*/ 
   font-size:1.3rem;
   font-weight:600; 
   padding:.4rem .5rem;
   border:1px solid #ab4a16; 
   border-radius:.8rem;
}
/* Подвал, внутренности                                                      */
#LeftFooter
{
   overflow:auto;
   padding:0 .5rem 0 .5rem;
   font-size:1.1rem;
   font-weight:bold; 
   /*
   border-top:dashed 1px #ddd;
   border-bottom:dashed 1px #ddd;
   */
}
/* 
 При назначении новой статьи 
*/
#AddArticle
{
   margin-top:7.2rem;
   padding:0;
   border:0;
   vertical-align:baseline;
   width:100%;
   background:Cornsilk;
}
#nsGroup 
{
   position:relative;
   width:100%;
   -webkit-transition:all 600ms cubic-bezier(0.68,-0.55,0.265,1.55);
   -moz-transition:all 600ms cubic-bezier(0.68,-0.55,0.265,1.55);
   -ms-transition:all 600ms cubic-bezier(0.68,-0.55,0.265,1.55);
   -o-transition:all 600ms cubic-bezier(0.68,-0.55,0.265,1.55);
   transition:all 600ms cubic-bezier(0.68,-0.55,0.265,1.55);
   -webkit-transition-delay:1s;
   transition-delay:1s;
}
#nsName
{
   top:2rem;
   left:1%;
   width:72%;
}
#nsDate 
{
   top:2rem;
   right:1%;
   width:21%;
}

#nsName,#nsDate,.nazst
{
   font-size:1.8rem; 
} 
#nsName,#nsDate 
{
   position:absolute;
   display:block;
   height:30px;
   background:#fff;
   padding-left:20px;
   color:rgba(0,0,0,0.9);
   -webkit-box-shadow:1px 1px 20px rgba(0,0,0, 0.2);
   -moz-box-shadow:1px 1px 20px rgba(0,0, 0,0.2);
   -ms-box-shadow:1px 1px 20px rgba(0,0, 0,0.2);
   -o-box-shadow:1px 1px 20px rgba(0,0, 0,0.2);
   box-shadow:1px 1px 20px rgba(0,0, 0,0.2);
   border:none;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   -ms-border-radius:4px;
   -o-border-radius:4px;
   border-radius:4px;
   -webkit-transition:all 600ms cubic-bezier(0.68,-0.55,0.265,1.55);
   -moz-transition:all 600ms cubic-bezier(0.68,-0.55,0.265,1.55);
   -ms-transition:all 600ms cubic-bezier(0.68,-0.55,0.265,1.55);
   -o-transition:all 600ms cubic-bezier(0.68,-0.55,0.265,1.55);
   transition:all 600ms cubic-bezier(0.68,-0.55,0.265,1.55);
}
#nsName:focus, #nsName:active:focus,
#nsDate:focus, #nsDate:active:focus, 
{
  outline:none;
  padding-left:30px;
}
#nsName 
{
  z-index:2;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
  transition:0.5s;
}
#nsDate 
{
  z-index:1;
  background:rgba(0, 0, 0, 0.1);
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
  transition:0.5s;
}
/* 
 Выбор реквизитов при назначении новой статьи 
*/
.nazst
{
   padding:0;
   margin:0 .8rem 1rem .8rem;
   background:transparent;
   color: #993300; 
   border:.4rem double gray;
}
.nazstName
{
   margin: 1rem .8rem .2rem .8rem;
}
.nazstValue
{
   margin-bottom:1rem;
   margin-right:.8rem;
   text-align:right;
}
input[type=submit] 
{
   margin-top:2rem;
   margin-left:.8rem;
   padding:.5rem .8rem;
   border:.2rem solid gray;
   cursor:pointer;
   -webkit-border-radius:.5rem;
   border-radius:.5rem; 
   font-weight:600; 
   font-size:1.8rem; 
   color: #993300; 
}

/* ********************************************************* Content.css *** */	
	

