/** HTML5/CSS3, EDGE/CHROME                                *** EditText.css ***

 ******************************************************************************
 * ittve.me               Определить стили страницы редактирования материалов *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  07.01.2019
 Copyright © 2019 tve                                Посл.изменение: 29.10.2022
*/

#TitleArea
{ 
   background:gray;
   width:100%;
   /* 
   position:fixed; 
   overflow:auto; 
   top:0; 
   bottom:96%;
   padding:0 .5rem 0 .5rem;
   text-align:center;
   right:33%;
   */ 
}
#ContentArea
{ 
   background:magenta;
   width:100%;
   /*height:50;*/
/*
   position:fixed; 
   overflow:auto; 
   top:44%; 
   bottom:4%;
   padding:0 .5rem 0 .5rem;
   text-align:justify;
   background:yellow; 
   right:33%;
   width:67%; 
*/
}
#mytextarea
{ 
}
/*
#InputArea
{ 
   position:fixed; 
   overflow:auto; 
   top:96%; 
   bottom:0%;
   padding:0 .5rem 0 .5rem;
   text-align:center;
   background:gray; 
   right:33%;
   width:67%; 
}
*/
/*
 ************************************************************* EditText.css ***
*/	
	

