/** HTML5/CSS3, EDGE/CHROME                                  *** Footer.css ***

 ******************************************************************************
 * ittve.me                                   Построить стили подвала сайта и *
 *                                                      информационной полосы *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  07.01.2019
 Copyright © 2019 tve                                Посл.изменение: 25.11.2020
*/
#LeftFooter
{
   height:100%;
   /*float:left;*/
   padding-top:.6rem;
   font-size:1.2rem;
   font-weight:bold; 
   background:orange; 
}
#LifeMenu
{
   height:100%;
   /*float:left;*/
   width:5.0rem;
   background:lime;/*transparent;*/ /**/
}
#RightFooter
{
   height:100%;
   /*float: right;*/
   background:olive; 
}
/* Обслуживаем кнопку меню материалов 
#btnLifeMenu
{
   width: 100%;
   height: 100%;
   z-index: 1;
   border-radius: 8px;
}
#imgLifeMenu
{
   width: 100%;
   height: 100%;
}
#btnLifeMenu 
{
   background: radial-gradient(farthest-side ellipse at top left, #fff,  #ededed);
}
#btnLifeMenu:hover 
{
   background: radial-gradient(farthest-side ellipse at top left, #fff,  #dcdcdc);
}
*/
#btnLifeMenu:active 
{
   background: radial-gradient(farthest-side ellipse at top left, #ededed,  #fff);
   /*
   background: -webkit-gradient(radial,farthest-side ellipse at top left, from(#f47a20), to(#faa51a));
   background: -moz-radial-gradient(farthest-side ellipse at top left,  #f47a20,  #faa51a);
   background: -ms-radial-gradient(farthest-side ellipse at top left,  #f47a20,  #faa51a);
   background: -o-radial-gradient(farthest-side ellipse at top left,  #f47a20,  #faa51a);
   background-image: -o-radial-gradient(farthest-side ellipse at top left,  #f47a20,  #faa51a);
   */
}

/* CalcNo: когда calc в CSS не работает */
/*
#Footer
{
   margin-left: auto;
   margin-right: auto; 
}
#LeftFooter
{
   display: none;
   overflow: hidden;   
}
#RightFooter
{
   float: left; 
   width: 50rem;
}
.navset 
{
   position: relative;
   width: 50rem; 
}
*/

/* CalcYes: когда calc в CSS РАБОТАЕТ */
/*
#LeftFooter
{
   width: calc(50% - 2.68rem);
}
#RightFooter
{
   width: calc(50% - 2.68rem);
}
.navset 
{
   position: absolute;
   width: calc(50% - 2.68rem); 
}
*/
#InfoLeft
{
   float: left;
   width: 50%;
}
#InfoRight
{
   float: right;
   text-align: right;
   width: 50%;
}
#InfoLeft, #InfoRight
{
   height: 100%;
   font-size: 1.4rem;
   font-weight: bold; 
   color: #A4A4A4;
}


/*
 *************************************************************** Footer.css ***
*/	
	

