/** HTML5/CSS3, EDGE/CHROME                                *** ImgRight.css ***

 ******************************************************************************
 * ittve.me      Спозиционировать справа галерею изображений и сделать только *
 *   одну колонку для статей. Выполнить общее фиксирование элементов разметки * 
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  07.01.2019
 Copyright © 2019 tve                                Посл.изменение: 22.10.2022
*/

/* 
 Позиционируем основные секции сайта: галерею новостных изображений, 
 секцию новых материалов, подвал, секцию архивных статей скрываем
*/
#News,#Life,#MenuArticles
{ 
   position:fixed; 
   overflow:auto; 
   top:0; 
   bottom:5.8rem;
   padding:0 .5rem 0 .5rem;
   text-align:justify;
}
#MenuArticles
{ 
   right:33%;
   width:67%; 
}
#News
{ 
   /* background:transparent; */ 
   background:blue;  
}
#Life                                                                   
{ 
   /* background:transparent; */ 
   background:teal;  
}
#MenuArticles                                                                   
{ 
   background:#e0e3ec url(../Images/Menu/bgnoise_lg.jpg) repeat top left;
}
#EditGallery
{
   margin-left:67%;
   width:33%;
}
#Footer
{
   position:fixed; 
   height:4.4rem;
   bottom:0; 
   margin-bottom:1.4rem;
   background:transparent; /*green;*/ 
}
#Info
{
   position:fixed; 
   bottom:0; 
   height:1.4rem;
   margin-bottom:0;
   background:transparent; /*yellow*/; 
}
/*
 ************************************************************* ImgRight.css ***
*/	
	

