/** HTML5/CSS3, EDGE/CHROME                                *** ImgRight.css ***

 ******************************************************************************
 * ittve.me                       Спозиционировать справа галерею изображений *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  07.01.2019
 Copyright © 2019 tve                                Посл.изменение: 22.01.2019
*/

/* 
 Позиционируем основные секции сайта: галерею новостных изображений, 
 секцию новых материалов, секцию архивных статей, подвал и кнопку меню 
 материалов
*/
.News, .Life 
{ 
   top: 0; 
   bottom: 5.5rem; 
}
.News
{ 
   right: 24%;
   width: 38%; 
   border-left: dashed 1px rgb(153,153,153);
}
.Life 
{ 
   right: 62%;
   width: 38%; 
}
.Gallery
{
   margin-left: 76%;
   width: 24%;
}
.Footer
{
   bottom: 0; 
   right: 24%;
   width: 76%;
   height: 4rem;
   z-index: 73;
   border-top: dashed 1px rgb(153,153,153);
}
.navset 
{
  width: calc(50% - 2.68rem);  
}

/*
 ************************************************************* ImgRight.css ***
*/	
	

