/** HTML5/CSS3, EDGE/CHROME                                *** mLeadImg.css ***

 ******************************************************************************
 * ittve.me        Переопределить видимость секций при показе новостной ленты *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  07.01.2019
 Copyright © 2019 tve                                Посл.изменение: 30.01.2019
*/

.Gallery
{
}
.News 
{ 
   display: none; 
}
.Life 
{ 
   display: none; 
}
.Footer
{
   display: none; 
}
.Ext
{
   display: none;
}

.Info
{
}

/*
 ************************************************************* mLeadImg.css ***
*/	
	

