/** HTML5/CSS3, EDGE/CHROME                                  *** Styles.css ***

 ******************************************************************************
 * ittve.me                            Обо мне, путешествиях и ... Черногории *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  07.01.2019
 Copyright © 2019 tve                                Посл.изменение: 22.01.2019
*/

/** 
  Замечание: обратил внимание при отладке, что при написании комментария через
  2 слэша перед директивой CSS блокирует выполнение директивы и выполняется 
  только внутри фигурных скобок!
*/

/* 
 Определяем базовый шрифт 
*/
html
{
   font-family: 'Anonymous Pro', monospace;
   font-size: 10px;
}
/* 
 Устанавливаем размеры шрифтов по умолчанию и
 определяем в процентах пространство документа 
*/
body 
{
   font-size: 1.4rem;  
   width: 100%;
   height: 100%;
   //background: yellow;
}
/* 
 Определяем параметры основных секций сайта: галереи новостных изображений, 
 секции новых материалов, секции архивных статей, подвала и кнопки меню 
 материалов
*/
.News, .Life 
{ 
   position: fixed; 
   overflow: auto; 
}
.Gallery
{
   display:flex;
   align-items: center;
   background: #FEDFC0; 
   flex-flow: column;
}
.Footer
{
   position: fixed; 
}
.LifeMenu
{
   position: fixed; /* Абсолютное позиционирование */
}
/*    */
.Card
{
   //margin:0.3rem 0.15rem 0.3rem 0.15rem; 
   //padding:0.15rem 0.3rem 0.15rem 0.3rem;
   background:#3989c9;
}
.Gallery div:nth-of-type(1)
{ 
   //margin-left:0.3rem; 
}
.Gallery div:nth-of-type(10)
{ 
   //margin-right:0.3rem; 
}
.btni
{
   width: 12rem;
   height: 12.2rem;
   //font-size: 1.4rem;  
   //padding: 0.1px 1px 1px 1px; /* Поля вокруг текста */
   //float:left;
}
.ii
{
   //width:20rem;
   width:100%;
//   height: 8rem;
}
.sp
{
   //text-align: center;
   //font-size: 2.4rem;
}
.pppi
{
   text-align: center;
}
/*
 *************************************************************** Styles.css ***
*/	
	

