/** HTML5/CSS3, EDGE/CHROME                                *** styleSet.css ***

 ******************************************************************************
 * ittve.me                         Стилизовать панель конфигурационного меню *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  07.01.2019
 Copyright © 2019 tve                                Посл.изменение: 11.02.2019
*/

/**
 Исходные ориентиры:
 - меню состоит из "n" элементов, содержащих иконки шрифта (например, Awesome);
 - 5 элементов 10rem x 10rem занимают полосу меню 50rem
 - для браузеров, где работает calc, центрируются все элементы внутри пункта
   меню; для других браузеров элементы прижимаются к левому краю с padding
*/

/**
 Определяем размеры панели конфигурационного меню, пунктов меню в "состоянии 
 ожидания" и позиций для значков, шрифты значков и пунктов меню,
 а также их цвета и размеры
*/
.navset 
{
   height:100%;   /* 10rem; */
   color:#aaa;    /* обычный серый цвет элементов панели меню */
}
/*
   color: #ab4a16;  приятный коричневый цвет 
*/
.navset .link 
{
   width:20%;     /* "1/n" часть ширины полоски меню */
   height:100%;   /* всю высоту родителя .navset */
}
.navset .link .prev 
{
   font-family:fontawesome;
   font-size:2rem; 
}
.navset .link .small 
{
   width:100%;    /* значок по ширине всю область .link */
   height:100%;   /* всю высоту родителя .link */
   font-family:fontawesome;
   font-size:3.6rem; 
   border-width:0;
   /*border-right:1px solid red; //#ddd; */
}
.navset .link .full .f1
{
   font-size:1.6rem; 
   font-weight:700; 
}
.navset .link .full .f2
{
   font-size:1.4rem; 
   font-weight:700; 
   white-space:nowrap;  /* показали весь текст в одной строке */
}
.navset .link:last-child 
{
   border-right:0;
}
/**
 Поднимаем кнопки над остальными элементами меню для того, чтобы 
 они не были скрыты другими элементами и, таким образом, могли бы нажиматься
*/
.navset .link .small 
{
   z-index:101;
}
/** 
  Определяем общее позиционирование панели конфигурационного меню
  
  Замечание: Обычно translateZ(0) прописывают для того, чтобы отрисовать 
  элементы в GPU еще до того, как анимация началась, чтобы анимация была 
  плавной, без дерганий. tranform не перерисовывает объект, он работают 
  напрямую с GPU памятью, которая использует аппаратное ускорение
 
  overflow: hidden - текст и значок пункта меню отображаем только внутри дива, 
  остальное скрываем
  
  transition: .5s width - разворачиваем пункт меню по ширине за пол-секунды
  (обычно transition устанавливает эффект перехода между двумя состояниями 
  элемента, которые могут быть определены с помощью псевдоклассов :hover 
  или :active)
*/
.navset 
{
   background:#fff;
   transform:translateZ(0);
}
.navset .link 
{
   position:relative;
   float:left;
   border-right:1px solid #ddd;
   transition:.5s width;
   overflow:hidden;    /* закрыли текст вне пункта меню */
   /* cursor:pointer; */ 
}
/**
  Позиционируем элементы внутри пункта меню
*/
.navset .link .prev, .navset .link .small, .navset .link .full
{
   position:absolute;
   top:0.2rem;
   left:0;
}
/**
  Определяем размеры пунктов меню при "наезде мышкой" (в том числе и пункта
  меню, который станет активным), а затем переопределяем размер и цвет 
  активного пункта меню
*/
.navset:hover .link 
{
   width:5%;
}
.navset .link:hover 
{
   width:80%;
   color:#555; 
}

/** 
  Форматируем начальное состояние пунктов меню: для маленьких иконок, больших и
  текстов в полных изображениях пунктов
*/
.navset .link .prev 
{
   padding-top:0.4rem; 
   padding-left:0.2rem;
   transition:.5s opacity;
   opacity:0;     /* скрыли маленькие иконки в начальных условиях */
} 
.navset .link .small 
{
   padding-left:0;
   text-align:center; 
} 
.navset .link .full 
{
   padding-top:0.2rem; 
   transition:.5s opacity;
   opacity:0;     /* скрыли тексты пунктов меню в начальных условиях */
} 
/** 
  Зажигаем маленькие иконки, гасим большие и тексты меню, 
  когда наезжаем на панель меню  
*/
.navset:hover .prev 
{
   opacity:1;
}
.navset:hover .small, .navset .link:hover .full 
{
   opacity:0;
}
.navset:active .small 
{
   /*background: red; 
	position: relative;*/
	top:1px;
}
/** 
  Гасим маленькую иконку, зажигаем большую и пункт меню, когда наезжаем на него  
*/
.navset .link:hover .prev 
{
   opacity:0;
}
.navset .link:hover .small, .navset .link:hover .full 
{
   opacity:1;
   text-align:left; 
}
.navset .link:hover .small 
{
   padding-left:0.4rem;
}
.navset .link:hover .full 
{
   padding-left:4.4rem;
}
/*
 ************************************************************* styleSet.css ***
*/	
