/* 
  Определяем общее позиционирование панели конфигурационного меню
*/
.navset 
{
  position: absolute;
  top: 50%;
  width: calc(50% - 2.68rem);  
  height: 4rem; 
  margin-top: -2rem; 
  z-index: 98;
  background: #fff;
  //background: yellow;
  transform: translateZ(0);
}
.navset:hover .link 
{
  width: 5%;
}
.navset .link 
{
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
  color: #aaa;
  border-right: 1px solid #ddd;
  transition: .5s width;
  overflow: hidden;
  cursor: pointer;
}
.navset .link:last-child {
  border-right: 0;
}
.navset .link:hover 
{
  width: 80%;
  color: #555;
}
/* 
  Форматируем большие иконки в меню
  (начальное состояние меню)
*/
.navset .link .small 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  line-height: 4rem; 
  text-align: center;
  font-family: fontawesome;
  font-size: 3rem; 
}
/* 
  Форматируем текст пункта меню правее иконки
*/
.navset .link .full 
{
  position: absolute;
  top: 2px;     // Отодвинули от верха колонки меню 22px;
  left: 10rem;  // Загнали текст правее значка
  text-transform: uppercase;
}
.navset .link .full .f1, .nav .link .full .f2 
{
  font-size: 1.6rem;
  font-weight: 700;
  white-space: nowrap;
}
/* 
  Форматируем информационный текст пункта меню 
*/
.navset .link .full .f2 
{
   margin-top: 0.5rem;
   font-size: 1.4rem;
}
.navset .link .prev 
{
  position: absolute;
  top: 0;
  left: 7px;
  font-family: fontawesome;
  font-size: 12px;
  line-height: 2rem; //78px;
  transition: .5s opacity;
  opacity: 0;
}
.navset .link:hover .prev 
{
  opacity: 0;
}
.navset:hover .prev 
{
  opacity: 1;
}
