/** HTML5/CSS3, EDGE/CHROME                               *** ViewImage.css ***

 ******************************************************************************
 * ittve.me      Определить стили для показа изображения, выбранной в галерее *
 *     картинки, на отдельной странице в ее рамках или в натуральную величину *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  07.01.2019
 Copyright © 2019 tve                                Посл.изменение: 13.11.2020
*/
html
{
   background:transparent; /*yellow;*/
}
body 
{
   background:transparent; /*gray;*/
}
form
{
   background:transparent; /*green;*/
} 
/* убрано 13.11.2020 мешало qupzille переключать между размерами изображений
html,body,#bImg
{
   height:100%;
}
*/
#ExtImg
{
   background-color:transparent; /*red;*/
}
#bImg 
{ 
   border:0;
   background-color:transparent; /*blue*/;
}
/*
 ************************************************************ ViewImage.css ***
*/	
	

