/* CSS3, EDGE/CHROME                                        *** ModyArt.css ***
*******************************************************************************
* TModyArt               Определить стиль меню при выборе статей (материалов) *
*         Discovered from article on Ryan Collins': http://www.ryancollins.me *
*                                                                             *
* v2.0, 25.03.2023                                 Автор:       Труфанов В.Е. *
* Copyright © 2020 tve                             Дата создания:  13.12.2020 *
*******************************************************************************
*/

.accordion i,.accordion a
{
   margin:0;
   padding:0;
   border:none;
   outline:none;
   background:#ffffff;
}
.accordion i
{
   font-size:1.8rem;
   text-shadow:1px 1px 0 rgba(255,255,255,.2);
   padding-left:.6rem;
}
.accordion a
{
   font:normal 10px/32px Arial, sans-serif;
   font-size:1.6rem;  
   text-shadow:0 .1rem 0 rgba(0,0,0,.95);
   border-bottom:1px solid #c9c9c9;
   padding-left:3rem;

}
.sub-menu li:last-child a 
{ 
   border:none;
}
.accordion li>a,.accordion li>i
{
   display:block;
   position:relative;
   min-width:1.1rem;
   color:#777;
   overflow:hidden;
   text-decoration:none;
}
/* Устанавливаем цвета и бордюры разделов статей */
.accordion li > i
{
   background:#ffffff;
   background:-moz-linear-gradient(bottom,#ffffff 0%, #eaeaea 100%);
   background:-webkit-gradient(linear,left bottom,left top,color-stop(0%,#ffffff),color-stop(100%,#eaeaea));
   background:-webkit-linear-gradient(bottom,#ffffff 0%,#eaeaea 100%);
   background:-o-linear-gradient(bottom,#ffffff 0%,#eaeaea 100%);
   background:-ms-linear-gradient(bottom,#ffffff 0%,#eaeaea 100%);
   background:linear-gradient(to bottom,#ffffff 0%,#eaeaea 100%);
}
/* Устанавливаем цвета и бордюры пунктов меню со статьями */
.sub-menu li a 
{
   color:#797979;
   background:#e5e5e5;
}
/* Выделяем порядковые номера статей в разделах */
.sub-menu em 
{
   position: absolute;
   top:0;
   left:0;
   margin-left:1.2rem;
   color: #a6a6a6;
   font: normal 10px/32px Arial, sans-serif;
}
/* Эффект перехода между состояниями */
.accordion li .sub-menu 
{
   -webkit-transition: height .2s ease-in-out;
   -moz-transition: height .2s ease-in-out;
   -o-transition: height .2s ease-in-out;
   -ms-transition: height .2s ease-in-out;
   transition: height .2s ease-in-out;
}
/* Выделяем статьи, на которые наезжаем курсором */
.sub-menu li:hover a
{
   background:#efefef;
}
.accordion li:first-child i 
{
   /*border-top:1px solid #c9c9c9;*/
}


/* *************************************************** ArticlesMaker.css *** */
	

