/** HTML5/CSS3, EDGE/CHROME                                *** mLeadImg.css ***

 ******************************************************************************
 * ittve.me        Переопределить видимость секций при показе новостной ленты *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  07.01.2019
 Copyright © 2019 tve                                Посл.изменение: 30.01.2019
*/

#Gallery
{
   width: 100%;
   margin-bottom: 5.2rem;
}
#News 
{ 
   display: none; 
}
#Life 
{ 
   display: none; 
}
#Footer
{
   bottom: 1rem; 
   width: 100%;
   height: 4 rem;
   z-index: 73;
}
#LeftFooter
{
   display: none;
}
.navset 
{
  //width: calc(50% - 2.68rem);  
  //width: 500рх;
  width: calc(50% - 2.68rem);  
}
#Info
{
}

/*
 ************************************************************* mLeadImg.css ***
*/	
	

